<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


	<!-- Appenders -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%-5p %d{ISO8601} [%t] %c{2}:%L %m%n" />
		</layout>
	</appender>
	
	<appender name="TrackServer" class="org.apache.log4j.RollingFileAppender"> 
	    <param name="file" value="logs/trackserver.log"/>
	    <param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
	    <param name="MaxFileSize" value="10240KB"/>	
	    <param name="Threshold" value="INFO" />
	    <!-- Keep one backup file -->
	    <param name="MaxBackupIndex" value="50"/>
	    <layout class="org.apache.log4j.PatternLayout"> 
	      <param name="ConversionPattern" value="%-5p %d{ISO8601} [%t] %c{2}:%L %m%n"/> 
	    </layout> 
    </appender> 


	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	

	<!--Category -->
	
	<!-- Root Logger -->
	<root>
		<priority value="debug"/>
		<appender-ref ref="stdout"/>
		<appender-ref ref="TrackServer"/>
	</root>

</log4j:configuration>
